body {
  font-family: 'Courier New', Courier, monospace;
  margin: auto;
}

.main-container {
  background-color: rgb(209, 218, 225);
  border-radius: 10px;
  margin: 5vw;
  padding: 5vw;
  width: 80vw;
}

.grid-container {}

.top-bar-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
}

.top-bar-container img {
  padding: 10px 20px;
}

.text-card-container {
  padding: 5px;
  margin: auto;
}

.text-card-text-body {
  font-size: 12px;

}

.image-card-container {
  padding: 10px 30px;
}
